[2015-03-30 10:15] juliushaertl opened #1 "Fix layout issues on small screens"
https://apps.owncloud.com/content/show.php?content=169148#c474065

[2015-03-30 15:04] juliushaertl opened #2 "Setting to switch app title off"
Add an option to hide the app title

[2015-03-31 06:26] horstk opened #3 "showing app title does not work with owncloud 0.8.2"
Hi,

version 0.2 works perfectly with owncloud 7.05, but with 0.8.2 app titles will never be shown ( neither when hovering over an app nor when selecting an app)

Regards

Horst

[2015-03-31 10:44] juliusknorr commented on #3
That is strage, as on my 8.0.2 owncloud instance it works quite well. Could it be a caching issue? Have you tried to disable and reenable the app?

[2015-03-31 12:41] alex42ka opened #4 "direct menu doesn't work properly if an own theming is used"
As described above. I wanted to activate my own theming on Owncloud but then direct menu did not work. Beneath the top bar a little window with my activated apps have been shown. Didn't work with an old theme and a fresh one.
Here comes a screenshot:
https://cloud.githubusercontent.com/assets/5347731/6899691/63ef33aa-d702-11e4-855b-a763f9d6e15e.png

[2015-03-31 13:30] horstk commented on #3
I tried everything. I deinstalled the app, deleted the entries in mysql,
and installed it again.
Then I used a brand new installation of firefox, but still: it works
with 7.0.5 but not with owncloud 0.8.2

Am 31.03.2015 um 12:44 schrieb Julius Härtl:

[2015-03-31 13:50] juliusknorr commented on #4
I'm not using themes. Do you have an example that would helpme to debug this issue?

[2015-03-31 14:07] juliusknorr commented on #3
Can you proove that the css file `direct_menu.css` is loaded and contains the rule `#navigation div li:hover span` ?

[2015-03-31 14:26] horstk commented on #3
Now it works.
I moved the old "direct_menu" directory in the main "owncloud" directory
to park it while testing version 0.2 . Nevertheless owncloud did take
the old "direct_menu.css" from the old directory. Deleting it solved the
problem

Thanks

Horst

Am 31.03.2015 um 16:07 schrieb Julius Härtl:

[2015-03-31 15:07] juliusknorr commented on #3
Ok, fine.

[2015-03-31 15:07] #3 closed

[2015-03-31 16:49] juliushaertl opened #5 "Menu disappears after enabling a new app"
The menu disappears after enabling a new app from the web interface.

[2015-04-01 08:50] scroom commented on #4
I've just copied the relevant parts of core to a theming folder. Following the Owncloud documentation (https://doc.owncloud.org/server/8.0/admin_manual/operations/theming.html) these are the folder css, img and js. Then I've activated the theme by adding the name in the config.php. Thats all.
The app didn't work with a "fresh" theme and an old one.

[2015-04-01 14:24] juliusknorr commented on #4
The problem might be that you copied the whole header.css file. Owncloud is loading this file after direct_menu.css and the rules for the menu get overwritten.

I'll try to fix that in the next release. Until then you might want to remove the content of header.css in your template except the parts you've changed from default.

This is also better for your page loading time. There is no need for do

[2015-06-11 14:19] juliusknorr commented on #4
Some issue on custom themes is fixed in master now, the background color will not be overwritten by direct_menu.

@alex42ka are you sill having issues?

[2015-06-11 14:19] juliusknorr commented on #1
fixed with 72b07b9

[2015-06-11 14:19] #1 closed

[2015-06-11 14:23] juliusknorr commented on #5
fixed by #6

[2015-06-11 14:23] #5 closed

[2015-06-27 10:31] #4 closed

[2015-07-01 12:09] hele333 opened #7 "icon size too big in internet explorer"
works perfekt in firefox and opera, but using the IE 11, the icons don't fit in the bar, they are too big, and not all can be seen.

The hover does also not work.

![direct menue ie error](https://cloud.githubusercontent.com/assets/13134733/8454064/b5a92b42-1ffa-11e5-8edd-631efaf60fa2.jpg)

[2015-07-08 10:03] TheAgentK commented on #7
The IE has some Problemes with scaling the SVG Icons to the right size.

I made a workaround for this.
https://github.com/TheAgentK/direct_menu

I change the SVG Files in the IW with the png files in the IE.

[2015-07-08 19:18] Lebernd opened #10 "unable to install/activate oc8.1"
when I try to activate the app I get:

`cURL error 60: See http://curl.haxx.se/libcurl/c/libcurl-errors.html`

The site tells me:

`Peer certificate cannot be authenticated with known CA certificates.`

Installation with `git clone` works fine

[2015-07-09 08:46] juliusknorr commented on #10
There was an issue with the certificate chain, on the server that is hosting the .zip file.
Can you retry again?

[2015-07-09 13:59] Lebernd commented on #10
It's working :ok_hand:

[2015-07-09 13:59] #10 closed

[2015-07-21 03:09] mdusher commented on #7
I've just tested this out and I believe it's because the SVG files do not have a viewBox property. From what I can gather IE requires the viewBox property in the SVG file for the image to scale properly.

[2015-09-02 14:39] hitam4450 opened #11 "Select the default app"

[2015-09-02 14:41] #11 closed

[2015-10-08 10:46] juliusknorr commented on #7
As the pull request by @TheAgentK is merged now, this issue should be fixed. Can somebody prove, because I don't have an IE around at the moment.

[2015-10-08 10:57] juliushaertl opened #13 "direct_menu breaks custom themes"
Y05H10 on https://apps.owncloud.com/content/show.php?content=169148&forumpage=2

[2015-10-19 10:33] juliusknorr commented on #7
Seems to work in IE11 and the fix was also confirmed here: https://apps.owncloud.com/content/show.php?content=169148#c479653

[2015-10-19 10:33] #7 closed

[2015-10-19 10:40] juliusknorr commented on #13
Should be working, at least my tests with the official example theme worked with ownCloud 8.1.1

[2015-10-19 10:40] #13 closed

[2015-11-18 09:19] FrankMaute opened #15 "OC 8.2.1 not compatible to direct menu 0.4"
Hello,

when activating direct menu on 8.2.1 the Admin/personal menu does not show up. Can you help?

Thanks in advance,
Frank.

[2015-11-18 09:26] #15 closed

[2015-11-18 09:27] #2 closed

[2015-11-18 09:39] juliusknorr commented on #15
Thanks, the fix has already been provided by #14

[2015-11-18 09:48] FrankMaute commented on #15
Hi Julius,

thanks, works!

Frank.

Quoting Julius Härtl notifications@github.com:

[2015-11-18 10:29] hitam4450 opened #16 "Upgrade error"
I use OC 8.2 and I wanted to upgrade to the current version 0.5, which produces the following error message See enclosed screen shot!
What went wrong??
![directmenue](https://cloud.githubusercontent.com/assets/9738727/11238666/831299f6-8de7-11e5-9bc5-e4aa4d837eda.png)
 regards, hitam4450

[2015-11-18 11:49] juliusknorr commented on #16
Could you try again? It seems like there was an issue with the new ssl certificate on the server providing the zip file.

[2015-11-18 12:06] hitam4450 commented on #16
OK, it worked now! Many Thanks!

[2015-11-18 12:18] #16 closed

[2015-11-20 12:58] hitam4450 opened #18 "Incomplete View in OC'version' => '8.2.1.4'"
Please check:

https://github.com/owncloud/core/issues/20631

regards, hitam4450

[2015-11-21 10:45] juliusknorr commented on #18
Have you updated direct_menu to the current version 0.5?
This has already been fixed in #14

[2015-11-21 10:50] hitam4450 commented on #18
Yes, this happened wit direct_menu 0.5! Sorry!

[2015-11-21 10:56] hitam4450 commented on #18
Ok, reinstalling the app and enabling it - resolved the problem!
Many Thanks!
regards, hitam4450

[2015-11-21 10:56] #18 closed

[2016-01-28 19:21] JonesfromHan opened #19 "Menu Bar icons move with main screen in Safari on iPad"
I just saw this happen on my iPad.

### Steps to reproduce
1. Open ownCloud with installed direct menu in Safari on an iPad
2. Move the page with your finger

### Expected behaviour
The icons should stick to their place on the menu bar

### Actual behaviour
The icons move with the page

### Server configuration

**ownCloud version: 8.2.2**

**Plugin Version: 0.6**

### Client configuration
**Brows

[2016-01-28 19:40] juliusknorr commented on #19
Thanks for your report. I can reproduce this on android using firefox. I'll look into this.

[2016-01-31 19:47] JonesfromHan commented on #19
This fixed it for my iPad, I hope it works on other devices, too.

[2016-02-01 14:55] #19 closed

[2016-03-11 14:05] juliushaertl opened #21 "App signing"
Pending CSR (https://github.com/owncloud/appstore-issues/issues/51)

[2016-03-14 13:34] Loki3000 opened #22 "Add title attribute"
It's to be good to add title attribute to menu items. Now it's only icons and not always clear what's means target item.

[2016-03-15 15:20] juliusknorr commented on #22
It seems like the OwnCloud 9 update breaks some of the css style for showing the title on mouse hover. I'll look into that issue later today.

[2016-03-16 12:16] juliusknorr commented on #22
This should be fixed now. 3115ec75

[2016-03-16 12:20] #22 closed

[2016-03-19 09:43] dynobo opened #23 "[Feature Request] Changing order of Icons"
Please add a possibility to rearrange the icons. This would be very useful to me, with > 8 Apps...

Thanks for this app! :-)

[2016-03-19 11:00] juliusknorr commented on #23
I already thought about this, but as there is no dynamic mechanism in owncloud core to update the app order, I decided not to implement reordering.
This feature was also requested and rejected in core: https://github.com/owncloud/core/issues/10654

You can manually edit the order parameter for each app inside the app.php file to achieve a custom order:

[code]

[2016-03-30 14:07] aspdye opened #24 "Style of App-Name broken"
Currently, the name of the app currently running is displayed in the way ownCloud does with its normal menu. I don't know why, but I think we should change that :grin:
The app name is too small, and its position is a bit strange.

**ownCloud 9.0.0**

[2016-04-16 11:43] #21 closed

[2016-04-16 11:44] juliushaertl opened #25 "Fix hidden loading icon"
https://github.com/owncloud/core/pull/23916

[2016-04-16 11:46] juliusknorr commented on #24
Can you describe a bit more what you have in mind.
I don't see any reason to change the positioning at the moment, for me this looks quite nice.

[2016-04-20 11:37] juliushaertl opened #26 "App approval"
https://github.com/owncloud/app-approval

[2016-05-11 08:23] Mannshoch commented on #23
This will end in an Integrity error after upgrading Owncloud and also it went to default position if an App get updated.

[2016-05-14 06:47] #25 closed

[2016-05-14 14:38] juliusknorr commented on #23
I've just started implementing the ability to reorder app icons. See #28

[2016-05-17 12:59] Mannshoch commented on #23
Thanks a lot @juliushaertl

[2016-05-19 09:46] juliusknorr commented on #24
@aspdye ping

[2016-05-19 09:47] juliusknorr commented on #23
See https://github.com/juliushaertl/apporder for ongoing progress.

[2016-05-19 09:47] #23 closed

[2016-05-19 10:24] aspdye commented on #24
I think we should use the same font (and size of it) of the normal menu :wink:

[2016-05-19 10:33] #24 closed

[2016-05-19 10:34] juliusknorr commented on #24
Ah now I get it, good point.

[2016-05-19 15:23] aspdye commented on #24
:+1:

[2016-05-27 06:51] #26 closed

[2016-07-28 06:54] MorrisJobke opened #30 "Add a license"
http://choosealicense.com/

At least AGPL and MIT are compatible with ownCloud/Nextcloud.

[2016-07-28 08:46] juliusknorr commented on #30
Ah good point, the AGPL is only stated in the info.xml. Will add that later today.

[2016-07-28 09:01] MorrisJobke commented on #30
I was just curious. Otherwise this software can't be used together with ownCloud/Nextcloud due to the APGL which forbids to run together with proprietary software.

[2016-07-28 11:49] #30 closed

[2016-07-29 09:40] juliushaertl opened #31 "Fix issues with new white menu on Nextcloud"

[2016-08-20 15:24] Guillaume99 opened #32 "Menu overlapping"
When resizing the browser window, the menu is ovelapping with the search icone before being removed. See attached picture (Firefox 48, Nextcloud 9.0.53, Direct Menu 0.9)...

![menu ok](https://cloud.githubusercontent.com/assets/20171421/17832057/aa61cee0-66fa-11e6-87c7-e1f1ffd2cc78.png)
![menu overlap](https://cloud.githubusercontent.com/assets/20171421/17832056/aa5d8e34-66fa-11e6-94c8-76a30f9e538

[2016-08-20 16:56] Guillaume99 opened #33 "icons not always shown with Nextcloud 10 RC1"
icons not always shown with Nextcloud 10 RC1

![capture d ecran 2016-08-20 a 18 08 16](https://cloud.githubusercontent.com/assets/20171421/17832611/a4d19660-6707-11e6-947b-261c359b3a84.png)
![capture d ecran 2016-08-20 a 18 08 31](https://cloud.githubusercontent.com/assets/20171421/17832610/a4d0016a-6707-11e6-86e5-e981cb137e40.png)

[2016-08-22 17:32] juliusknorr commented on #33
@Guillaume99 what version of direct_menu and what  web browser are you using?

[2016-08-22 17:36] juliusknorr commented on #32
This is something we can't fix that easy, as the width of the menu depends on the number of apps you have installed. But yes, this is something that sould be fixed.

[2016-08-22 17:36] Guillaume99 commented on #33
Last version of direct menu (updated for nc 10),
Last version of firefox under osx

[2016-08-22 17:36] #31 closed

[2016-08-22 17:37] juliusknorr commented on #33
Ok, will try to reproduce and fix this later this week. Thanks for your report so far.

[2016-08-22 17:47] Guillaume99 commented on #33
For my specific case, what should I change innthe css file ?

[2016-08-22 17:49] juliusknorr commented on #33
You can change the min-width value in the first line to something bigger.

e.g. the menu will be hidden if the window size is smaller that 900 px:
`@media only screen and (min-width: 900px) {`

[2016-08-22 17:52] Guillaume99 commented on #33
Thanks !

[2016-08-30 14:16] eppfel opened #34 "Inverted Nextcloud fix breaks mobile popup menu icons"
As you can see here, the icons are white and therefore not visible, because the media query does not affect the coloring/filtering.
<img width="451" alt="bildschirmfoto 2016-08-30 um 16 12 05" src="https://cloud.githubusercontent.com/assets/1899308/18092461/a9682488-6ecc-11e6-82ba-d3dbca0c2251.png">

To simplify the fix introduced in 5db63ec2d9df711a6a5f2b9c046deb4c32b2c859 you could add a class a

[2016-08-30 15:16] juliusknorr commented on #34
@eppfel Thanks for your report.

I think i tried to play around with a css-filter none, but iirc there were some browser specific issues. I need to check that again. It would be great if you can test that and create a pull request, as my time is a bit limited at the moment.

I like the idea of getting rid of the hacky javascript code. I guess the best way to access the theming values would be to u

[2016-09-01 10:24] #34 closed

[2016-09-01 14:50] juliushaertl opened #36 "Loading icon is misplaced on Nextcloud 10"

[2016-09-01 14:51] juliushaertl opened #37 "Opacity is to low on Nextcloud 10"

[2016-09-01 15:24] hitam4450 opened #38 "test"
misplaced issue! Sorry!
hitam4450

[2016-09-01 15:56] #38 closed

[2016-09-02 08:48] juliusknorr commented on #33
@Guillaume99 Can you please test if your issue still exists?

[2016-09-02 08:48] #37 closed

[2016-09-02 08:48] #36 closed

[2016-09-02 09:37] Guillaume99 commented on #33
Tested and validated, issue is corrected.
Thanks for the good work !

[2016-09-02 09:47] #33 closed

[2016-09-03 07:22] #32 closed

[2016-09-03 07:23] juliusknorr commented on #32
@Guillaume99 This should be fixed now on master. Would be great if you could do some testing.

[2016-09-04 10:42] Guillaume99 commented on #32
hello Julius,

I did some testing with NC10 and the master branch, but it is still overlapping … :-(

[2016-09-04 11:56] juliusknorr commented on #32
Have you installed the master release by downloading a zip from Github?
Can you make sure that there are only the files present that are now on
the current master?

The best would be to remove the entire direct_menu folder before
extracting the "master"-zip. Otherwise there are a couple of files from
the old version, that don't get removed.

If it still doesn't work with a clean direct_menu folder

[2016-09-05 07:23] Guillaume99 commented on #32
hello Julius,

yes, that exactly how I installed your app… but I stil have the problem, so I did a little investigation and found where it came from.

For any reason, the « Tasks » app is not counted, you can add or remove it, the min-width value will not change !

This is probably not related to your code, and your application is quite good now !

Guillaume

update : the ownNote is doing the same

[2016-09-05 07:31] juliusknorr commented on #32
Ah, ok i'll have a look what might go wrong therr.

[2016-09-05 10:47] hitam4450 opened #39 "Wrong Version 0.91 in appstore should be 0.92"
Sorry, for my feedback! In th appstore th wrong version number shows in the "**latest**" app name!

regards, hitam4450

[2016-09-05 10:53] juliusknorr commented on #39
Thanks. Fixed.

Can't wait to finally use the Nextcloud store ... makes publishing so much easier. :smile:

[2016-09-05 10:53] #39 closed

[2016-09-05 12:00] hitam4450 commented on #39
Ok, no problem! I wait as well for the Nextcloud App Store! However the future will be bright & better!

regards, hitam4450

[2016-09-14 16:20] flaviove opened #40 "Does no work with "Share by a email link""
After activate Direct Menu 0.9.2 3 on ownCloud 9.1, the option share a file by a email link stops to work.

[2016-09-15 09:08] juliusknorr commented on #40
I don't see any Share file by email link in owncloud 9.1 even without direct_menu. Can you verify that is works without direct_menu being enabled?

[2016-09-15 12:19] flaviove commented on #40
Hi Julius.

I had a big help from RealRancor posted here
https://central.owncloud.org/t/share-files-using-email-link-does-not-work-link-show-up-white-page/2401/1
in order to find out what was going on when I try to share a file to
someone (see the attached file) that is not a ownCloud user. If I had a
"Direct Menu 0.9.2" enable the email showed up but the link goes to a blank
page instead a link t

[2016-09-18 03:13] car-gli commented on #33
Wrong thread, sorry

[2016-09-18 15:00] juliusknorr commented on #40
@flaviove I cannot reproduce this issue on my local testing installation, can you check if there are any error messages inside your browser log?

[2016-09-19 11:29] flaviove commented on #40
I didn´t get any from fierefox. Even using this
For 64-bit Windows:

cd c:\
set MOZ_LOG_MODULES=timestamp,rotate:200,nsHttp:5,nsSocketTransport:5,nsStreamPump:5,nsHostResolver:5
set MOZ_LOG_FILE=%TEMP%\log.txt
cd "Program Files (x86)\Mozilla Firefox"
.\firefox.exe

Please show me the rocks way if I can do something diferent to help.

[2016-09-21 13:19] matt407 opened #41 "Application names has been moved?"
I did an update to version 8.2.8 of Owncloud and saw that the application names is moved to the right.
Is a patch of this behaviour possible on direct_menu 0.5?
Owncloud 8.2.8 with direct_menu Version 0.5 is in use.

![direct_menu_screenshot](https://cloud.githubusercontent.com/assets/8255606/18712404/8e7c71da-800e-11e6-9344-12f933cbc9d3.jpg)

[2016-10-18 15:38] juliusknorr commented on #41
0.5 is quite old. You could update to 0.8.0 which should still support owncloud 8. No idea what's going on there, as i don't have any owncloud instance running.

[2016-10-18 15:39] juliusknorr commented on #41
@matt407 Sorry for the delay, btw. :see_no_evil:

[2016-10-18 15:41] juliusknorr commented on #40
@flaviove just hit F12, go to the console tab and reload the page.

[2016-10-18 18:20] matt407 commented on #41
Thank you for your reply, where can version 0.8 be found? Under your releases only are 0.9x and v0.1 available.

[2016-10-18 20:21] juliusknorr commented on #41
Ah sorry, I've forgot that I started publishing to GitHub with version 0.9.0.

You can basically download the archive for the commit of 0.8.0 version here:
https://github.com/juliushaertl/direct_menu/archive/37937f2dd29aa7a0f8538a73940698802e7e1486.zip

[2016-10-19 11:50] matt407 commented on #41
0.8.0 works fine! thank you!

[2016-10-19 11:50] #41 closed

[2016-10-29 18:00] DemoFreak opened #42 "Nextcloud 10 / Notifications not clickable"
With direct_menu enabled the notifications icon isn't clickable (maybe overlayed by the menu).
Please see the attached pictures (note the mouse pointer shape).

![with_directmenu](https://cloud.githubusercontent.com/assets/9294774/19831756/0a869ba4-9e12-11e6-9940-6ddcf9faae41.png)

![wo_directmenu](https://cloud.githubusercontent.com/assets/9294774/19831757/0e0d6b18-9e12-11e6-84ec-aa7e443d03e3.png

[2016-10-29 18:59] juliusknorr commented on #42
@DemoFreak This is not the position where the notification icon should be. It should look more like this:
![2016-10-29-205748_321x79_scrot](https://cloud.githubusercontent.com/assets/3404133/19832082/a2d8c15e-9e1a-11e6-96d5-d65a063b7d1c.png)

Do you use any other modifications/custom patches?

What version of the direct_menu / notifications app do you use?

[2016-10-29 19:29] DemoFreak commented on #42
@juliushaertl No modifications/patches that I'm aware of.
occ app:list shows

[code]

[2016-11-03 10:12] Mannshoch opened #43 "in Nextcloud 10.0.1 Direct Menu Not work if section "Files" is active"
I have a strange behavior, If I have direct Menu active in the section "Files" the Menu icons are not showing. If I move over I go the Tooltipps ans could click on them.
After opening "Files" the Menu is showing but disappear if the directory content loaded.

[2016-11-03 11:10] juliusknorr commented on #42
@DemoFreak  Can you check if the following commands return any output:

<code>
./occ integrity:check-core
./occ integrity:check-app notifications
</code>

Are you using Nextcloud 10.0.1?

[2016-11-03 11:12] juliusknorr commented on #43
@Mannshoch I guess you mean Nextcloud as there is no owncloud version 10 :wink:

What browser are you using? Are there any errors in the logs/browser console?

[2016-11-03 11:34] DemoFreak commented on #42
@juliushaertl both commands return with no output.
I'm still using NC 10.0:

[code]

[2016-11-03 11:54] Mannshoch commented on #43
Firefox:

### Section Security:

[code]

### Section Jounal:

[code]

### Section JS:

[code]

### Section CSS:

[code]

[2016-11-04 10:20] juliusknorr commented on #42
Ok, it looks like you are still using some prerelease of Nextcloud 10. Can you upgrade to the latest stable release 10.0.1 ?

My guess is that this will fix wrong positioning of the notifications icon, so this is out of scope of the direct_menu app, so I'm closing this for now. Feel free to ask if there are questions left.

[2016-11-04 10:20] #42 closed

[2016-11-04 10:23] juliusknorr commented on #43
Ok, can you also post the following, to help me reproduce this:
- exact firefox version
- list of enabled apps
- output of ./occ integrity:check-core

Can you check if this is only happening on firefox or if it is a issue on your Nextcloud instance?

[2016-11-04 10:31] juliusknorr commented on #43
cloud be related to https://github.com/nextcloud/server/issues/2005

[2016-11-04 11:52] Mannshoch commented on #43
Seems to be related:
I have Firefox 49.0.2 - (on Ubuntu and Windows 8.1)

Thanks

[2016-11-04 13:56] juliusknorr commented on #43
@Mannshoch nextcloud/server#2018 should fix this, so I'm closing this one for now.

[2016-11-04 13:56] #43 closed

[2016-11-25 21:41] Revertron opened #44 "Does not work on Nextcloud 11 beta"
Unfortunately, it does not work on Nextcloud 11 beta.
If you can tell me how can I investigate it further, I will be glad to do so.

Thanks in advance! It is an important app for Nextcloud!

[2016-11-26 11:48] juliusknorr commented on #44
@Revertron Thanks for your report. The issue has been fixed with a547d3e5f7db4fed8746be6abea604e33b0e4bd5 and a new release has been pushed to the Nextcloud appstore.

[2016-11-26 11:48] #44 closed

[2016-11-26 12:09] mightyBroccoli commented on #44
You are the greatest. Thank you this app is essential to use nextcloud owncloud what ever :D

[2016-11-26 12:12] juliusknorr commented on #44
Thank you very much @mightyBroccoli :smile:

[2016-12-05 22:30] DemoFreak commented on #42
Manually updated NC to 10.0.1, but the problem persists.

[code]

[code]

[2016-12-06 09:52] juliusknorr commented on #42
@DemoFreak So the notifications icon is still in the wrong place? What browser are you using?

[2016-12-06 12:12] DemoFreak commented on #42
Firefox (now on version 50.0)

[2016-12-17 03:29] jancborchardt opened #47 "Adjust name popover width to app name"
Currently when hovering the app icon, all the popover widths are the same. It looks a bit strange and not polished. Instead can we adjust it so they fit the content perfectly, like with the dark tooltips?

I played very briefly with the CSS and adjusting the one `min-width: 120px` seems to break. I assume you also checked that @juliushaertl? cc @eppfel @skjnldsv

[2016-12-17 04:44] skjnldsv commented on #47
Because margin-left is fiixed.
If you want to center an undecided width, you need to use `transform: translateX(-50%);` instead of `margin-left: -60px;` (line 105) 😃

[2016-12-17 18:34] juliusknorr commented on #47
Good point @jancborchardt
I've added this in #49

Thanks for the transform hint @skjnldsv

[2016-12-17 21:40] #47 closed

[2016-12-18 01:13] jancborchardt commented on #47
Hehe you were faster, I was about to do this ;)

[2016-12-18 01:30] jancborchardt opened #51 "Positioning considerations & improvements"
Currently the menu is aligned with the right edge of the app-navigation. This is nice, but it also feels a bit in the air especially with short app names. And you need to move your eyes and mouse around a lot.

Additionally the app name is on the left, while the app icon is somewhere in that list of apps, it feels strange.

What do you think if we change it from this:
![capture du 2016-12-18 02-21

[2016-12-18 04:51] skjnldsv commented on #51
Wasn't this like that at first @juliushaertl ?
It feels familiar :)

Anyway, I like them both. But since we have a more visible current app icon, your suggestion seems more adequate! I'm in!

[2016-12-18 06:59] MorrisJobke commented on #51
What about putting the app name right beside the current app icon? And what happens if an app is opened, that is usually in the drop down? Where to indicate that this app is used?

[2016-12-18 12:45] skjnldsv commented on #51
I like that!

[2016-12-18 14:23] juliusknorr commented on #51
This was the case in an early version, but I never liked it much, as the position of the app name was changing for every app. And also the app icon position was changing of course.

I think so if i remember correctly :wink: It was moved to the right, so we could show the current app name without having the above mentioned problems.

I would keep the position as it is, so we always have a textual d

[2016-12-18 15:23] jancborchardt commented on #51
Exactly. Spatial navigation is very important so if the position of the icons changes depending on which app you are in this will be very confusing.

Actually showing the app name isn’t that important, so I’d just go without it. What we maybe could do if we really want it is show it _below_ the icon in small (which we could also use as the hover name-display), but that might look strange.

[2016-12-18 15:26] jancborchardt commented on #51
Is it important to indicate it anywhere, except highlighting the »more« 3 dots icon in full opacity white? Maybe for that case showing the app name below the icon isn’t that bad, as then we can show it below the 3-dots-icon.

In any case, I think it’s an improvement over the current approach where things belonging together (app name and icon) are not together.

[2016-12-19 01:22] jancborchardt commented on #51
What I also just thought about is that we could show the triangle below the icon as additional indicator. Like, the triangle which shows as part of the popover menu, it kind of points inside the app content.

Then it’s even easier to see which app you are currently in, and also we can display it below the 3-dot-icon when you are in an app which is otherwise hidden in the menu.

[2016-12-19 04:45] skjnldsv commented on #51
I don't like the idea of using the trhee dot icon. It always indicate a menu on nextcloud, it will confuse the user.
Why not use the triangle indeed. But it should be light imho.

![capture d ecran_2016-12-19_05-51-02](https://cloud.githubusercontent.com/assets/14975046/21301578/296b6ae4-c5af-11e6-8e55-c2f7b28df5ef.png)

[2016-12-22 18:58] mcnesium opened #52 "Unset color inversion"
![bildschirmfoto 2016-12-22 um 19 38 52](https://cloud.githubusercontent.com/assets/476060/21436824/ba052cb0-c880-11e6-9ed0-517f42c84348.png)

The inverted color does not look too good with everything else not being inverted.
Is there a config setting to make it not do that?

[2016-12-22 21:38] eppfel commented on #52
That looks like an older nextcloud version, which one you are using? Normally the inversion should be in the rest of nextcloud as well.

[2016-12-23 11:27] mcnesium commented on #52
It's a brand new nc 11.0.0 and direct menu 0.9.3

[2016-12-24 10:47] juliusknorr commented on #52
@mcnesium Have you cleared your browser cache? I guess we need to add some cachebuster value to the css url.

[2016-12-24 10:51] juliusknorr commented on #52
@mcnesium Btw. the folder icons in the files app should have the same color as your menu bar since Nc 11. That looks like a bug here as well. Can you check if there are files in `data/appdata_XXX/theming/XX/`?

[2016-12-24 12:13] mcnesium commented on #52
Same thing in different browsers, so propably not a browser cache issue. I cleared the entire cache in one browser to check.

This is how the directory looks like:
![bildschirmfoto 2016-12-24 um 13 10 45](https://cloud.githubusercontent.com/assets/476060/21466939/74bdb004-c9da-11e6-8c51-7b7859830d8a.png)
folder-public and -shared are orange as well, only the default folder is still blue.

[2016-12-25 00:46] steph-ben opened #53 "Unable to activate the app"
I got the following error when trying to activate the app:

[code]

I'm using version

[code]

[2016-12-27 14:30] eppfel commented on #53
Sry, but the current version of this app needs at least version 9 of ownCloud or Nextcloud. You could switch to an older version of the app: https://github.com/juliushaertl/direct_menu/releases/tag/v0.9.2

[code]

But I would really recommend updating your ownCloud or switch to to Nextcloud!

[2016-12-27 14:30] #53 closed

[2017-01-10 11:36] juliusknorr commented on #52
@mcnesium can you check if the color inversion works with the changes committed in 3a25cf1e137d322882dd268496271ad33ae4526c

It is rather strange that only some folder icons have the correct color. Are there any errors in the server log files?

[2017-01-10 11:37] juliusknorr commented on #51
@skjnldsv I like the idea with the triangle indicator.

See https://github.com/nextcloud/server/pull/3008 for the discussed server PR.

[2017-01-10 14:22] juliusknorr commented on #40
I'll close this since I cannot reproduce. Feel free to reopen when you have the error messages.

[2017-01-10 14:22] #40 closed

[2017-01-10 23:09] jancborchardt commented on #51
@skjnldsv @juliushaertl that’s what I said, putting a triangle below it. ;) Nicely implemented by @juliushaertl in nextcloud/server#3008 !

[2017-01-11 13:25] mcnesium commented on #52
updated to 0.10.0 and now it looks like this on the orange instance:

![screenshot from 2017-01-11 14-16-42](https://cloud.githubusercontent.com/assets/476060/21849984/c4a2352c-d808-11e6-9f33-84519a425605.png)

on another instance with darker background color it looks fine like this:

![screenshot from 2017-01-11 14-16-55](https://cloud.githubusercontent.com/assets/476060/21849983/c481114e-d808-11

[2017-01-20 16:45] mcnesium commented on #52
Maybe it has something to do with [disabling the theming app](https://github.com/nextcloud/server/issues/3094#issuecomment-273425207), but now it looks alright:

![bildschirmfoto 2017-01-20 um 17 44 36](https://cloud.githubusercontent.com/assets/476060/22157477/2b91a6ce-df38-11e6-82f2-964c210ffe9a.png)

[2017-01-20 16:45] #52 closed

[2017-02-03 22:53] blackcrack opened #54 "works not in 10.0.3"
Hi Julius,

have downloaded your master because the version had not work
on 9.2 , i have php 7.0 and NC 10.0.3... downloaded your actual master.zip, so
your version 10 (bump 10 or someting) and overwrite the 9.2.. it works also not..  :\
can it be possible ?

best regards
Blacky

[2017-02-04 08:32] juliusknorr commented on #54
@blackcrack Thanks for reporting. I'll have a look, are there any errors in the server/browser log?

[2017-02-04 19:30] blackcrack commented on #54
hi Julius,
there was a automatic hiding *ghnnnnn* and i be at moment
on the way with my laptop, so, no problem with work, but an other problem,
if you can change the css-style a bit..
I have create a theme for nextcloud (btw. i hope it works also in OC)
and the problem/conceptual formulation/task ;) it is , to be your menu not direcktly over the files, it hangs up to the "application-name" and if

[2017-02-21 17:35] blackcrack commented on #51
i have get a patch, must only merge :)
it make it more fit for skinning and move it 170px in right direction to be not over the heading .
now fits also with the 1070px wide with 14 icons. It makes also more and better skinable :)
best regards
Blacky
![screen 00001](https://cloud.githubusercontent.com/assets/7925717/23177174/2ee1b6f6-f866-11e6-9352-6f4358058c85.jpg)

[2017-02-22 09:20] juliusknorr commented on #54
Hi, sorry I've forgot to have a look, but I'll try to have a look this week. Or is #55 already fixing the issue for you?

[2017-02-24 09:21] stormsh opened #56 "Direct Menu kills OPDS Catalog"
Hi, I am using nc 11.0.1 on ubuntu 14.04 with php 7.0.16. I had my opds catalog (0.8.2) on a different site but fused them together just now. As soon as I activate Direct menu, the opds catalog becomes inaccessable. No way back but loading a db backup.
The error is an xml parser error. The line differs between somewhat in the 80 to 98.

Adresse: https://mydomain.de/apps/files_opds/
Zeile Nr. 88, S

[2017-02-24 12:44] Yetangitu commented on #56
I'm the author of OPDS Catalog. I just checked the combination of OPDS Catalog and Direct menu on NC 11.0.0 and found out it worked for me. This is not surprising as Direct menu only changes the style sheet for the menu while OPDS Catalog does not use the menu at all (nor does it need to, being a remote service app).

I do use the full address to reach OPDS Catalog, including 'index.php'. As to wh

[2017-02-25 08:35] stormsh commented on #56
Hi, I'm using mysql 5.5.54.
The url was a mistake, I'm using already the full URL including index.php.
Nevermind...
Thanks for your effords

[2017-02-25 08:35] #56 closed

[2017-03-14 10:02] rugk opened #57 "Spinner is hardly visible"
See https://github.com/nextcloud/server/issues/3831

[2017-03-15 23:39] powerpaul17 commented on #32
I just noticed that if I use the search icon in an app which supports it, the opening input field still overlaps the menu icons.

[2017-03-16 10:43] juliusknorr commented on #54
I just had a look at the theme. If i understand you correctly this is what you try to achieve, right?
![2017-03-16-114212_602x106_scrot](https://cloud.githubusercontent.com/assets/3404133/23992575/b0fbbad6-0a3d-11e7-90ef-e59e18248ee4.png)

It should work fine if you add the following rules to your theme css code:
[code]

Anyway, this is not an issue with direct_menu :wink:, so I'm closing this.

[2017-03-16 10:43] #54 closed

[2017-03-16 10:46] juliusknorr commented on #57
@rugk Thanks for reporting. #58 now uses the dark loading icon on bright backgrounds.

[2017-03-16 10:46] #57 closed

[2017-03-16 10:47] juliusknorr commented on #51
Let's close this and focus on nextcloud/server#3008

[2017-03-16 10:47] #51 closed

[2017-03-16 10:48] juliusknorr commented on #32
@powerpaul17The overlapping search box has been fixed now in #58.Thanks for the hint.

[2017-04-07 23:52] chaot2 opened #60 "how to install"
Hi,
sorry i am new with nextcloud, but how can i install this plugin? it is not listed in "Apps" im the Nextcloud 11.0.0.2 and i don`t find a way to install the "external" app.
Can You help please?

[2017-04-10 11:22] juliusknorr commented on #60
It sould be listed in the customization category in the Nextcloud apps page.

[2017-04-15 08:31] powerpaul17 commented on #32
Thank you, you're welcome.

[2017-04-28 07:04] MoBOatGVA opened #61 "Owncloud 10 update"
Hello,

pretty sure the answer will be "Yes" but I do prefer to ask : did you planned a compatible version for owncloud 10 ?

Thanks for the work already done.

Regards,

Mo

[2017-04-28 08:18] juliusknorr commented on #61
I don't have any OwnCloud instance for testing any more but if they did not change to much it should still work by changing the max-version in appinfo/info.xml. Pull requests are welcome, but I will not put further effort into the development of this app, since Nextcloud 12 comes with a new menu on top.

[2017-05-04 06:45] #60 closed

[2017-05-08 08:46] juliushaertl opened #62 "Remove signature.json from release"

[2017-05-09 16:03] #62 closed

[2017-05-11 13:16] ravermeister commented on #61
so does that mean I should remove this App before Upgrading to Nextcloud 12?

[2017-05-12 07:57] heinrichmartin opened #63 "missing changelog for 0.10.2"
0.10.2 is available, but the changelog does not contain information about the update. It is fine for me, if you just add details to this issue and to master. Release both changelog entries with the next tag (i.e. no need to bump the version because of missing changelog...).

[2017-05-12 08:46] juliusknorr commented on #61
@ravermeister No, it will just be disabled when you upgrade to Nextcloud 12.

[2017-05-12 14:23] juliusknorr commented on #63
@heinrichmartin Sorry, I've missed to add those. I've updated the CHANGELOG on master.
The only change basically was to remove the old signatures file from the release archive, since it was breaking users instances when they upgrade to Nextcloud 12. Thanks for reporting. :+1:

[2017-05-12 14:23] #63 closed

[2017-05-19 10:14] blackcrack commented on #61
by the way, i have see many numbers without indicated by type like blabla:0;
right it is blabla:0px; this it is then more correct, because many browsers
do not use this automatic as pixel this is it why you are should ever set the type of the number.
and you want see, many works suddenly what have not works before ;)

and julius, can you maybe speak with the master of designer (\*bg\*)
to he set t

[2017-05-19 10:24] juliusknorr commented on #61
@blackcrack According to the CSS standard units are optional when the value is zero.

https://www.w3.org/TR/CSS2/syndata.html#length-units

[2017-05-25 09:34] SchnorcherSepp opened #65 "Nextcloud 12"
Hi!

I know the DirectMenue is already present in the new version of NextCloud.
BUT the Nextcloud version can only display 7 apps. The other apps are hidden behind points.

![zwischenablage03](https://cloud.githubusercontent.com/assets/14240880/26444787/17eec760-413e-11e7-9794-2f3cd82fbe79.jpg)

Can we have the old DirectMenue back please? ;)

[2017-05-30 12:39] m4lvin commented on #65
This will be solved in the next release of Nextcloud, the limit was removed in https://github.com/nextcloud/server/pull/5135 :smile:

If you want the change immediately, just remove these lines from `core/js/js.js`: https://github.com/nextcloud/server/pull/5135/commits/65d52a1ddff74b58155b27e342caf30a554d62f5

[2017-05-30 19:25] #65 closed

[2017-05-30 19:25] juliusknorr commented on #65
What @m4lvin said. :wink:

[2017-06-03 11:14] Draky50110 opened #66 "Nextcloud 12 : sig verif failed"
Hello.

Just updated to Newxtcloud 12 and I have an error about Direct Menu and invalid signature.

Here is logfile :

Technical information
=====================
The following list covers which files have failed the integrity check. Please read
the previous linked documentation to learn more about the errors and how to fix
them.

Results
=======
- direct_menu
	- EXCEPTION
		- OC\IntegrityCheck\Ex

[2017-06-03 12:09] JSoko commented on #66
Direct menue isn't Nc12-compatible, because it's integrted in Nc12...
...so just disable and delete it...

[2017-06-03 12:42] Draky50110 commented on #66
OMG, missed this new feature.
That explains why, once disabled, the direct menu was still present :p

Thanks :)

[2017-06-03 12:42] #66 closed

[2017-06-03 20:45] sunjam opened #67 "Where should direct_menu issues be posted?"
Is there is a new Github page for direct_menu issues, or should the [general Nextcloud server issues page be used?](https://github.com/nextcloud/server/issues)

[2017-06-06 07:28] juliusknorr commented on #67
If you are talking about the new menu in Nextcloud 12 that has nothing to do with the direct_menu app any more so please report issues on the server repo. :wink:

[2017-06-06 07:28] #67 closed

[2017-06-14 03:24] blackcrack opened #68 "Hi,"

[2017-06-14 03:28] blackcrack opened #69 "direct_menu able to configuring in 2 way's"
Hi,

it should be able to configuring how many icons to let show up to be in an own menu moved
or maybe none icons where moved into an own pull-down menu, the decision about should be belong  by the user where use the menu icons.
also an sorting of the menuicons should be include, because both apps before was really nice in combination :)

best regards
Blacky

[2017-06-14 03:30] #68 closed

[2017-06-14 07:08] juliusknorr commented on #69
Not happening. I won't put any further effort into development of this app, since the main functionality is now in nextcloud/server. :wink:

[2017-06-14 07:08] #69 closed

[2017-06-14 10:29] blackcrack commented on #69
ah i remind, yes.. sorry.. :) .. i getting too old \*g\*

[2017-07-06 10:43] Delor3an opened #70 "Nextcloud 12"
Hi,

Thanks for this app really useful :-)

May you please make an update to be compatible with Nextcloud 12 ?

Best Regards

[2017-07-06 10:53] juliusknorr commented on #70
@Delor3an There will not be any new release of direct_menu, since we have merged that menu functionality into Nextcloud server.

[2017-07-06 10:53] #70 closed

[2017-10-11 13:16] Ludovicis opened #71 "Always display all apps instead of an ellipsis in Nextcloud 12 or 13"
Hello, sorry but i can't create a pull in your git directory...
I refer to this post:
https://help.nextcloud.com/t/always-display-all-apps-instead-of-an-ellipsis-nc12/21891

Can you update direct_menu for always display all apps instead of an ellipsis in Nextcloud 12 or 13, please ?

Thanks,

[2017-10-11 14:32] juliusknorr commented on #71
I'll not put any further development effort to it, but if anyone else want to jump in, i would be happy to merge the changes and release a new version of it.

[2017-10-13 12:19] #61 closed

[2017-10-13 14:28] blackcrack commented on #61
👍

[2020-03-23 13:32] manu-p commented on #71
2 years later, NC 18 and I'm facing the same need: see as max apps icons as possible on the screen, not only the 1rst third of them.

And it's not a matter of apps order, just that with a 24" screen, you could see far more of apps without needing to clink in the ellipsis.

Been trying to look at  in ../nextcloud/core/js/js.js but it does not exist in 18(?)
Found in dist/main.js.map where minAppsDe

[2020-03-31 08:51] Botrap commented on #71
Look at the following. Perhaps what you want to do:

https://help.nextcloud.com/t/how-to-change-the-default-number-of-app-on-the-top-menu/24427
https://help.nextcloud.com/t/menueleiste-menuepunkte-verlaengern/24145

HTH

[2020-03-31 09:27] manu-p commented on #71
Thanks @rcweemhoff !
I knew the 1st link which finally leads here. :)

The 2nd link, which is a CSS based solution sounds good, although the Custom CSS warning is not to let me confident:

This looks more like a workaround than a solution.

App order (already used) is not the solution.